.welcome {
    text-align: center;
    margin-top: 10px;
}

#propertyRegistration button:not([type="button"]){
    background:rgb(2, 143, 197);
    border-radius: 0px;
}

#propertyRegistration button{
    border-radius: 0px;
}