
.search--view-bar > .room-options > .room-selector.hidden {
    display: none;
}

.search {
    display: flex;
    background-color: #ffffff;
    width: fit-content;
    size: 16px ;
    margin: 0px auto 50px;
}

.DateRangePickerInput_arrow {
    color: #182c4f
}

.DateRangePickerInput_icon {
    display: none

}
.DateInput_input_1 {
    border: 0px solid !important;
    border-left: 1px;
    height: 58px;
    font-family: ArialMT, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    opacity: 0.8;
    width: 230px !important;
}
.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 0;

    border-left: 1px solid #dbdbdb;

}
.search--view-bar {
    width: 1050px;
    //max-width: 1050px !important;
    .ui.input > input {
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-radius: 0px;
    }
}

.destination {
    height: 60px;
    input {
        min-width:520px;
    }
}

.btn-wrp > .ui.button {
    border-radius: 0px;
    margin-right: 0px;
    background-color: #dfe3eb;
    color: #182c4f;
    text-align: center;
    width: 152px;
}

.search--view-panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 187, 2);
    padding: 11px;
    min-width: 237px;
    width: fit-content;
}
.destination div.results.transition {
    width: 100% ;
 }

 .destination div.results.image.transition {
    width: 100% ;
 }


.search--view-bar > .room-options > .room-selector {
    box-shadow: 0 0 3px 1px #dddddd;
    background-color: white;
    z-index: 2;
    position: absolute;
    margin: 7px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 205px ;
    height: 210px;
    border-right:1px #182c4f
}

.room-selector > .field {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.room-selector > .field > label {
    padding: 11px;
}

.search--view-panel .room-selector {
    margin-top: 10px;
}

.search--view-panel > .room-options > .room-selector {
    position: relative;
}

.search--view-panel .fields > div.ui.selection.dropdown {
    min-width: 0;
}

.search--view-panel > .room-options > .room-selector > .fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search--view-panel .btn-wrp {
    display: flex;
    justify-content: flex-end;
}

.ui.input {
    height: 60px
}

.ui.grid > .row {

    padding-left: 10px;
}

.search--view-bar .ui.input > input {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0px;
    opacity: 0.8;
}