.search--view-bar > .room-options > .room-selector.hidden {
    display: none;
}

.search {
    display: flex;
    background-color: #ffffff;
    width: fit-content;
    margin: 0 auto;
    size: 16px !important;
    margin-top: 60px;
}

.DateRangePickerInput_arrow {
    display: none;
}

.DateInput_input_1 {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-radius: 0px !important;
}

.search--view-bar {
    width: 1000px;
    max-width: 1000px !important;
    .ui.input > input {
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-radius: 0px;
    }
}

.destination {
    input {
        min-width: 470px;
    }
}

.btn-wrp > .ui.button {
    border-radius: 0px;
    margin-right: 0px;
    background-color: #dfe3eb;
    color: #182c4f;
    text-align: center;
    width: 107%;
}

.search--view-panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 187, 2);
    padding: 11px;
    min-width: 237px;
    width: fit-content;
}

.search--view-bar > .room-options > .room-selector {
    box-shadow: 0 0 3px 1px #dddddd;
    background-color: white;
    z-index: 2;
    position: absolute;
    margin: 7px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 210px;
}

form.Field {
    align-content: right;
}

.room-selector > .field {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.room-selector > .field > label {
    padding: 11px;
}

.search--view-panel .room-selector {
    margin-top: 10px;
}

.search--view-panel > .room-options > .room-selector {
    position: relative;
}

.search--view-panel .fields > div.ui.selection.dropdown {
    min-width: 0;
}

.search--view-panel > .room-options > .room-selector > .fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search--view-panel .btn-wrp {
    display: flex;
    justify-content: flex-end;
}
