.search--view-bar > .room-options > .room-selector.hidden {
    display: none;
}

.search {
    display: flex;
    border-radius: 5px;
    background-color: rgb(254, 187, 2);
    width: fit-content;
    margin: 0 auto;
}

.search--view-bar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search--view-panel {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(254, 187, 2);
    padding: 0.8rem;
    width: fit-content;
}

.search--view-bar > * {
    margin: 0.2rem 0.1rem 0.2rem 0.2rem;
}

.search--view-bar .input input:hover,
.search--view-panel input:hover {
    border: 1px solid rgb(229, 169, 4);
}


.suir-calendar.popup table td.suir-calendar.date,
.suir-calendar.popup table th.suir-calendar.week-day,
.suir-calendar.popup table th.suir-calendar.cell {
    padding: 0.3rem;
}

.suir-calendar.popup table td.active.suir-calendar.date,
.suir-calendar.popup table td.suir-calendar.date:hover {
    background-color: rgb(0, 119, 204);
    color: white;
    cursor: pointer;
}

.ui.suir-calendar {
    padding: 0rem;
    margin: 0;
}

.check-in-out > * {
    width: 16rem;
}

.btn-wrp {
    display: flex;
    align-content: center;
}

.search--view-bar > .room-options > .room-selector {
    box-shadow: 0 0 3px 1px #dddddd;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 15rem;
}

.room-selector > .field {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.room-selector > .field > label {
    padding: 0.8rem;
}

.search--view-panel > .room-options > .room-selector {
    position: relative;
}

.search--view-panel .fields > div.ui.selection.dropdown {
    min-width: 0;
}

.search--view-panel > .room-options > .room-selector > .fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search--view-panel .btn-wrp {
    display: flex;
    justify-content: flex-end;
}