.box {

    width: 250px;

    border-right: 1px solid #979797;
    background-color: #fff;

}

.box_header {

    padding: 5px 10px;
    background-color: #fff;;

    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: end;
    color: #182c4f;
}

.box_item {
    padding: 3px 10px;
}
.box .box_item_checked * {
    padding: 0 10px 3px 10px;
    font-weight: bold;
}

.box .box_item_checked label {
    cursor: pointer;
}

.box_group {
    border-top: 1px solid #979797;
    margin-right: 20px;
    font-size:20px;
    margin-bottom: 0;
    opacity: 0.8;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #182c4f;
    padding: 5px 10px 0;
}

.ui .checkbox label {
    font-size: 0.9rem;
    cursor: pointer;
}

.box .box_item .box_label {
    cursor: pointer;
    margin-top: -3px;
    width: 123px;
    height: 17px;
    opacity: 0.8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #182c4f;
    white-space: nowrap;
}

.box_amount {
    margin: 1px 0 0 0;
    font-size: 0.9rem;
    float: right;
    cursor: pointer;
}
.Clear__filter {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    color: #182c4f;
}
.Clear__filter:hover {
   text-decoration: underline;
}



.ui.checkbox .box:before, .ui.checkbox label:before {
    border-radius: 0;
}
.ui.input.checkbox {
    height: 0px;
}
