.box {
    margin-top: 4%;
    width: 250px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: #ccc 1px 2px 3px;
}

.box_header {
    color: #fff;
    padding: 5px 10px;
    background-color: rgb(0, 192, 192);
}

.box_item {
    padding: 3px 10px;
}
.box .box_item_checked * {
    padding: 0 10px 3px 10px;
    font-weight: bold;
}

.box .box_item_checked label {
    cursor: pointer;
}

.box_group {
    font-size: 1rem;
    color: #484848;
    margin-bottom: 0;
    padding: 3px 10px 0px 10px;
    font-weight: bold;
}

.ui .checkbox label {
    font-size: 0.9rem;
    cursor: pointer;
}

.box .box_item .box_label {
    cursor: pointer;
    margin-top: -3px;
}

.box_amount {
    margin: 1px 0 0 0;
    font-size: 0.9rem;
    float: right;
    cursor: pointer;
}
