#footer {
    background: #CFDEE5;
    color: #5B6D7C;
    .header {
        color: #5B6D7C;
    }

    padding: 30px 60px;

    .item {
        margin-top: 10px;
    }

    .mail {
        padding-left: 2px;
    }

    .phone {
        padding: 0;
    }
}

