.main--wraper {
    background-image: url("https://s3.eu-central-1.amazonaws.com/kudypoditys/img/application/home-background.jpg") !important;
    min-height: 101vh !important;
    background-size: cover !important;
}
