.btn-add{
    align-content: center;
}
.Button{
    margin: 20px;
    align-content: center;
    margin: auto;
    color: red;
}
.no-room-box{
    width: 800px;
    margin: 10px;
    align-content: center;
}
.no-room-box .default-text{
    width: 300px;
    text-align: center;
    margin: 10px auto;
}
* .no-room-box .plan-price-form .plan-price-field{
    border-radius: 0;
}
.plan-price-form-group{
    background-color: #fff;
    clear: both;
    width: 100%;
    border-radius: 5px;
    //overflow: hidden;
    float: left;
}

.plan-price-form-group label,input,select {
    padding: 10px;
    display: block;
    width: 120px;
    font-size: 15px;
    float: left;
}
.plan-price-form-group label{
    width: auto;
    float: left;
}
.plan-price-form-group select,input{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius:3px;
    margin: 4px;
}
.plan-price-form-label{
    margin: 10px 0 0 0;
}
.plan-price-form-group input[name='roomsAmount']{
    width: 50px;
}
#guestAmountTitle{
    padding: 20px 4px 0px 4px;
    clear: both;
}
.plan-price-form-group>span{
    background: #ededed;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    float: left;
    clear: both;

}
.form-info{
    background: #ededed;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    float: left;
}
.complex-input{
    z-index: 10;
    float: left;
    margin: 20px 0 0 0;
    clear: both;
    //overflow: hidden;
    width: 100%;

}
.complex-input>select{
    display: block;
    float: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius:3px;

}
.complex-input>p{
    display: block;
    clear: none;
    float: left;
    padding: 8px 0px 0px 10px
}
.plan-price-form-group input[name='guestsAmount'],input[name='roomSquare']{
    display: block;
    clear: both;
    width: 50px;
    margin: 4px;
}
.delete-btn{
    color: red;
    width: 70px;
    text-align: center;
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.add-btn{
    clear: both;
    float: left;
    width: 70px;
    text-align: center;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin: 20px 0 0 4px;
    color: #015a8d;
}
#add-icon{
    float: left;
    margin-top: 1px;
}
.add-btn:hover{
    text-decoration:underline

}
input[name='baseRoomPrice']{
    float: left;
    width: 70px;
    margin-left: 0;
    border-radius: 0 2px 2px 0
}
label[for='baseRoomPrice']{
    margin: 4px 0 0 4px;
    text-align: center;
    background-color: #ededed;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    border-right: none;
    width: 100px;
    display: block;
    float: left;
    clear: both;
    padding: 9px;

}
.continue-btn{
    padding: 15px;
    display: block;
    width: 90%;
    font-size: 20px;
    color: #fff;
    background-color: #07c;
    border-radius: 5px;
    border: none;
    box-shadow: #ddd 2px 2px 2px;
    margin: auto;
    cursor: pointer;
}
.continue-btn:hover{
    background-color: rgb(3, 107, 180);
}