.room-row {
    background-color: #eceef0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 15px;
    height: 45px;
}

.room-row--left-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    overflow: hidden;
}

.room-row--right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
