.room-row {
    background-color: #eceef0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 0 15px;
    height: fit-content;
}

.room-row--left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    overflow: hidden;
}

.room-row--right-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 50px;
    height: auto;
}
