button.book-btn {
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #465672;
    width: 150px;
    border: 0;
    height: 100%;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.2s;
    height: 33px;
    margin: auto;
    text-align: center;
    padding-left: 18px;
    width: 100px;
}

.book-btn-enabled {
    &:hover {
        background-color: #5e749b;
    }
}

// button.book-btn:hover {
//     background-color: #5e749b;
// }

.booking-form input.DateInput_input {
    height: 33px;
}

.booking-form .DateRangePickerInput_arrow {
    color: #182c4f;
    z-index: 5;
}

.booking-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.booking-form .ui.dropdown {
    padding: 0.78571429em 2.1em 0.78571429em 1em !important;
}

.booking-form .DateRangePicker.DateRangePicker_1 {
    width: fit-content !important;
}

.booking-form .DateInput_input {
    text-align: center;
    width: 120px !important;
    border: 0 !important;
}

.booking-form .DateInput {
    width: fit-content !important;
}

.booking-form .DateRangePickerInput {
    width: fit-content !important;
}