$slider-height: 400px;

.slick-track {
    height: $slider-height !important;
}

.slick-slide {
    width: 600px !important;
}

.slick-slide.active {
    left: 10px !important;
}

.slider-c-wrapper {
    width: 100% !important;
    box-shadow: 0px 10px 40px -4px #0000000f;
    padding-bottom: 4px;
    position: relative !important;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.slick-dots li {
    list-style-type: none;
}

.slick-dots li button {
    background-color: transparent;
    border: none;
    width: 70px;
    height: 70px;
    margin-right: 4px;
    padding: 0px;
    // opacity: 0.7;
}

.slick-dots li button img {
    max-width: none !important;
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    padding: 0px;
    transition: 0.2s opacity ease-in-out;
}

.slick-dots li button img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slick-list {
    height: $slider-height;
    padding: 0px !important;
    width: 100%;
}

.slick-slider {
    margin: 0;
}
//

.slider-c-image {
    height: $slider-height;
    object-fit: contain;
    left: 50px;
}

.slider-c-button {
    position: absolute;
    bottom: 50%;
    height: 30px;
    z-index: 100;
    width: 30px;
    margin: 0 !important;
    padding: 5px !important;
    background-color: #0000000d !important;
    color: white !important;
    transition: 0.2s background-color ease-in-out;
    border-radius: 100px !important;
}

.slider-c-button:hover {
    background-color: #ffffff7a !important;
    color: #465672 !important;
}

.slider-c-button-active {
    box-shadow: 0px 0px 0px 2px #000000b0;
    opacity: 1 !important;
}

.slider-c-prev-button {
    left: 0;
}

.slider-c-next-button {
    right: 0;
}

.slider-c-next-button > i {
    margin: 0 !important;
}
