.availability-panel-wrp {
    padding: 10px;
    margin: 0 auto;
}

.availability-panel {
    background-color: rgb(236, 238, 240);
    padding: 5px 5px 5px 5px;
    color: #274560;
}

.availability-panel > p {
    color: #274560;
}

.availability-form-midsection > .field {
    max-width: 250px;
}

.availability-panel .room-selector.inline.fields > .inline.field > label {
    color: #274560;
}

.availability-form-midsection > div {
    width: fit-content;
}

.availability-form-midsection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    padding: 10px 40px;
}

.availability-form > .availability-form-midsection > .field {
    margin: 0 10px;
    align-self: flex-end;
}

.availability-form-midsection > .btn-wrp {
    margin: 1px 10px;
    align-self: flex-end;
}

.ui.form.availability-form
    > .availability-form-midsection
    > .room-selector
    > .field
    > label {
    color: #465672;
}

.room-selector > .field {
    width: fit-content;
    display: block;
}

.availability-form div.inline.fields.room-selector {
    margin: 0;
}

.availability-form .DateRangePickerInput_arrow {
    color: #182c4f;
}

.availability-form .DateRangePicker.DateRangePicker_1 {
    width: fit-content !important;
}

.availability-form .DateInput_input {
    text-align: center;
    width: 120px !important;
    border: 0 !important;
}

.availability-form .DateInput {
    width: fit-content !important;
}

.availability-form .DateRangePickerInput {
    width: fit-content !important;
}
