.ui.message.review_message {
    box-shadow: 0 0 0 1px rgb(70, 86, 114) inset, 0 0 0 0 transparent;
    border-radius: 0;
    padding: 0.5em 1.5em;
    text-align: center;
}

.ui.blue.progress .bar {
    background-color: #465672;
}
.ui.progress {

    background: #eceef0;
}

.ui.comments .comment .comments {
    margin: 0 0 .5em;
    padding: 1em 0 1em;
}



.ratingLabel{
    display: block;
    width: 2.5em;
    height: auto;
    float: right;
    margin-left: 10px;
}

.ratingLabel .ui.purple.label, .ratingLabel .ui.purple.labels  .label {
    background-color: #465672!important;
    border-color: #a333c8!important;
    color: #fff!important;
    border-radius: 0;
}
.ui.comments .comment .author {
    font-size: 1em;
    color: rgb(70, 86, 114);
    font-weight: 700;
}
.rating_item {
    padding: 10px;
}

.add_review__button > .ui.primary.button {
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #465672 !important;
    width: 100%;
    border: 0;
    border-radius: 0;
    height: 100%;
    cursor: pointer;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 10px 20px !important;
}

.add_review__button {
    margin-top: 10px;
}
.reviews_add_review_btn {
cursor: pointer;
    text-decoration: underline;
}
.reviews_add_review__modal{
    min-width: 500px;
}
.reviews_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 1.2;
    color: rgb(70, 86, 114);

}

.reviews_header > .ui.header {
    color: rgb(70, 86, 114);
}
.reviews__close_btn {
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #465672 !important;
    width: 30%;
    border: 0;
    border-radius: 0;
    height: 100%;
    cursor: pointer;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 10px 20px !important;
    text-align: center;
}
.actions {
    text-align: -webkit-center;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {

    border-radius: 50%;
}

.ratingName {

    opacity: 0.5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #182c4f;
    position: relative;
    top: -5%;
}

.reviewsNumber {

    opacity: 0.27;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    color: #182c4f;
    white-space: nowrap;
    position: relative;
    top: -50%;
}

.rating_num {

    opacity: 0.8;
    font-family: Arial, sans-serif;
    font-size: 38px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: normal;
    text-align: left;
    color: #182c4f;
    //padding-left: 10px;
    cursor: default;
}
.rating_block {
    display: flex;

}
.rating_status {
   padding-top: 17px;
}
