search-summary__header{

    height: 24px;
    opacity: 0.5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style:normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #182c4f;
    padding-bottom: 15px;
    padding-left: 10px;
}