.registration-c-wrapper {
    background-color: white;
    border-radius: 3px;
    padding: 60px 70px 90px 70px;
    width: 601px !important;
    box-shadow: 2px 2px 20px -4px #00000026;
}

.registration-c-header {
    margin-bottom: 35px !important;
    color: rgb(48, 48, 48) !important;
}

.registration-c-input {
    margin-bottom: 18px;
}

.registration-c-button {
    margin-top: 10px !important;
}

.ui.basic.red.label {
    background-color: #fff !important;
}