// .registration-c-wrapper {
//     border-radius: 3px;
//     padding: 20px 70px 20px 70px;
//     width: 601px !important;
// }

// .registration-c-header {
//     margin-bottom: 35px !important;
//     color: rgb(48, 48, 48) !important;
// }

// .registration-c-input {
//     margin-bottom: 10px;
//     height: 50px !important;
// }

// .registration-c-button {
//     margin-top: 10px !important;
// }

//
//
//.registration-c-form div input {
//    width: 100%;
//}
//
//.registration-c-form div span {
//    position: relative;
//}

#registration-from{
.input{
    height: auto;
    input{
      padding: 15px;
      border-radius: 0px;
    }
    margin: 15px 0 15px 0;  
  }
  .btn-wrapper{
      display: flex;
      justify-content: space-between;
  }
  .ui.red.pointing.below.basic.label.shown{
      margin-bottom: -4px;
  }

    .field-wrapper{
        position: relative;
        .ui.red.basic.label.shown{
            position: absolute;
            z-index: 100;
            right: 5%;
            top: 22%;
        }
    }
}

.ui.segment.registartion_form-wrapper{
    width: 65%;
    margin: auto;
    border-radius: 0px;
}

.auth_btn{
    border-radius: 0px;
}

.ui.basic.red.label {
    background-color: #fff !important;
}

