#registration-form, #login-form{
.input{
    height: auto;
    input{
      padding: 15px;
      border-radius: 0px;
    }
    margin: 15px 0 15px 0;  
  }
  .btn-wrapper{
      display: flex;
      justify-content: space-between;
  }
  .ui.red.pointing.below.basic.label.shown{
      margin-bottom: -4px;
  }

    .field-wrapper{
        position: relative;
        .ui.red.basic.label.shown{
            position: absolute;
            white-space: nowrap;
            z-index: 100;
            left: 100%;
            top: 22%;
        }
    }
}

.ui.segment{

&.registartion_form-wrapper, &.login_form-wrapper{
    width: 65%;
    margin: auto;
    border-radius: 0px;
}

}

.auth_btn{
    border-radius: 0px;
}

.ui.basic.red.label {
    background-color: #fff !important;
}

