.ui.modal {
    width: fit-content;
    height: fit-content;
    max-height: 100%;
}

.ui.modal.fullScreen {
    width: 100%;
    height: auto 100vh;
    max-height: calc(100vh - 100px);
}

.ui.modal.fullScreen > div.content {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.ui.modal > i.close.icon {
    top: 5px;
    right: 5px;
    z-index: 2;
    background-color: white;
    color: #37383a;
    border-radius: 15px;
    text-align: center;
}
