div.ui.property-page-navigation.menu a.item {
    color: #465672;
    text-decoration: underline;
}

div.ui.property-page-navigation.menu a.item:hover {
    color: #5e749b;
}

.property-page-navigation.menu .item div.ui.label.reviews-label {
    background-color: #465672;
}
