.booking-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.booking--left-section {
    display: flex;
    justify-content: space-evenly;
    max-width: 550px;
}

.booking-info {
    margin-left: 10px;
    color: #465672;
}

.booking-info p {
    margin: 10px;
}

.booking-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.booking-buttons button {
    width: fit-content !important;
}

.booking--right-section {
    color: #465672;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.booking--right-section div.ui.grid {
    padding: 5px;
}

.booking--right-section .check-date {
    padding: 5px 10px !important;
    width: fit-content !important;
}

.booking {
    overflow: hidden;
}

.ui.grid.booking > div.row.booking-footer {
    max-height: 50px;
    // background-color: rgb(238, 238, 238);
    padding: 5px 0;
}

.booking-footer img.booking-image {
    min-width: 150px;
}

.booking-price {
    color: rgb(11, 168, 11);
}

.ui.grid > div.column.check-date {
    padding: 5px;
}

.check-date > .ui.header {
    margin: 0;
}

.check-date > p {
    margin: 0;
}

.check-date > p:first-child {
    color: rgb(119, 122, 122);
}

.container > .booking-page-top-section {
    margin-top: 3%;
}
