.booking-page-top-section {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    align-content: center;
}

div.booking-property-wrp {
    display: flex;
    justify-content: space-around;
}

.property-info {
    min-width: 500px;
    color: #465672;
    flex-grow: 1;
    padding-left: 10px;
}

.property-info .property-summary__container {
    margin-bottom: 5px;
}

.property-info a {
    color: #465672;
}

.property-images {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
}
