.booking-container {
    padding: 20px 5px 0 5px;
}

.booking {
    overflow: hidden;
}

.ui.grid.booking > div.row.booking-footer {
    max-height: 50px;
    // background-color: rgb(238, 238, 238);
    padding: 5px 0;
}

.booking-footer img.booking-image {
    min-width: 150px;
}

.booking-price {
    color: rgb(11, 168, 11);
}

.ui.grid > div.column.check-date {
    padding: 5px;
}

.check-date > .ui.header {
    margin: 0;
}

.check-date > p {
    margin: 0;
}

.check-date > p:first-child {
    color: rgb(119, 122, 122);
}

.container > .booking-page-top-section {
    margin-top: 3%;
}
