@font-face {
    font-family: "EuropaGroteskSH-BolExt";
    font-style: normal;
    src: local("EuropaGroteskSH-BolExt"),
        url(./EuropaGroteskSH-BolExt.ttf) format("ttf");
}

.header-logo {
    font-weight: 900;
    font-family: EuropaGroteskSH-BolExt, sans-serif;
    cursor: pointer;
    font-size: 25px;
    letter-spacing: -1px;
}

.ui.small.main-menu.menu {
    border: none;
    padding: 1rem;
    background: #003580;
    border-radius: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.row--inform > .right > a {
    color: #ffffff;
}

.header--wraper {
    // background-image: url("https://s3.eu-central-1.amazonaws.com/kudypoditys/img/application/background.jpg");
    background-size: cover;
    min-height: 100px;
}

.row--inform {
    color: #ffffff;
    font-size: 20px !important;
    margin-top: 23px;
    max-width: 1021px !important;
}

.header--wraper {
    .ui.selection.dropdown>.dropdown.icon {
        right: 4px;
    }
    .ui.fluid.dropdown {
        padding-top: 11px !important;
    }
}



.menu .item.menu__welcome {
    color: white;
    font-size: 15px;
}

.menu .item.menu__logo {
    color: white;
    font-size: 20px;
}

.menu {
    .menu__dropdown {
        background: transparent;
    }
}

.menu .menu__dropdown.selection.dropdown,
.menu .menu__dropdown.selection.dropdown.visible {
    border: none;
    padding-top: 16px;
    background: transparent;

    > .text {
        color: white;
        background: transparent;
    }
}

.menu .item .ui.inverted.button {
    margin-right: 20px;
}
