#main-menu{
    &.menu {
        border: none;
        background: white;
        border-radius: 0px;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 5px 60px;
        

        .menu__right{
        .item{
            color: #5B6D7C;
            margin-right: 15px;
            text-transform: uppercase;
            font-weight: 600;
            }
             .menu__language{
                margin-right: 2px;
                display: inline-block;
            }
            .menu__languages{
                margin-right: 25px;
            }
        }

        .item.menu__logo {
            color: #5B6D7C;
            font-size: 25px;
        }
    }
}