.personal_settings-segment {
    display: grid;
    grid-template-columns:
        minmax(100px, 200px) minmax(100px, 300px) minmax(100px, 200px)
        minmax(100px, 200px) auto;
    grid-gap: 14px;
    box-shadow: 2px 2px 30px -4px #0000001f !important;
    border: none !important;
    .input {
        max-height: 38px;
    }
}
.personal_settings-segment-header {
    .message {
        border-radius: 0px;
        color: #465672 !important;
    }
    grid-column: 1/6;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.personal_settings-segment-header span {
    background-color: #f1f1f1;
    color: grey;
    padding: 4px 14px;
}
.personal_settings-avatar-button {
    border: none !important;
    background-color: #465672 !important;
    border-radius: 0px !important;
    &:hover {
        background-color: #6078a3;
    }
}

.avatar_del_btn {
    width: 91.16px;
    height: 28px;
    margin: 0 !important;
    padding: 0 !important;
}

.fileContainer {
    border: none !important;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
    // visibility: hidden;
}

.personal_settings-p {
    grid-column: 1;
    margin-bottom: 0;
    margin-top: 9px;
}
.personal_settings-btn {
    padding: 12px 10px 10px 20px !important;
    width: 120px;
    height: 37px;
}
.personal_settings-avatar {
    width: 150px !important;
    height: 50px;
}
.personal_settings-avatar div.fileContainer {
    box-shadow: none !important;
    border: 1px solid #f1f1f1;
    height: 50px;
    width: 150px;
    padding: 0;
    margin: 0;
}
.personal_settings-dropdown-regular {
    height: 38px;
}
.personal_settings-adding-address {
    grid-column: 2/4;
    background-color: #f1f1f1;
    padding: 8%;
    display: grid;
    grid-gap: 10px;
    border-radius: 4px;
}
.personal_settings-adding-address p {
    margin: 0;
    margin-top: 4px;
}
.personal_settings-adding-creditcard {
    padding: 4%;
    background-color: #f1f1f1;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px auto;
    grid-gap: 10px;
    border-radius: 4px;
}
.personal_settings-adding-creditcard p {
    grid-column: 1;
}
.personal_settings-creditcard-label {
    grid-column: 1/4;
    position: relative;
}
.personal_settings-creditcard-label div {
    font-size: 14px;
    font-weight: 300;
    color: #545454;
    padding: 4px 10px;
}
.personal_settings-creditcard-label-div-type {
    font-weight: 600 !important;
    font-size: 18px !important;
}
.personal_settings-creditcard-label a.ui.label {
    position: absolute;
    top: 4px;
    right: 4px;
}
.personal_settings-add-credit {
    grid-column: 1;
}
.personal_settings-field {
    position: relative;
}
.personal_settings-field div.ui.red.label {
    position: absolute;
    z-index: 99;
    left: 100%;
    width: 100%;
}
.personal_settings-adding-creditcard div {
    grid-column: 2/4;
}
.personal_settings-adding-creditcard div.input,
.personal_settings-adding-creditcard div.dropdown {
    grid-column: 2/4;
    height: 38px;
}
.personal_settings-date-dropdown-left {
    grid-column: 2 !important;
}
.personal_settings-date-dropdown-right {
    grid-column: 3 !important;
}
.personal_settings-adding-creditcard div.ui.checkbox {
    grid-column: 1/6;
}
.personal_settings-facilities {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 10px;
    background-color: #f1f1f1;
    padding: 4%;
    border-radius: 4px;
}
.personal_settings-facilities .personal_settings-submit {
    grid-column: 1;
    margin-top: 20px;
}
.personal_settings-submit a:nth-of-type(1) {
    margin-right: 20px;
}
.personal_settings-radio-booking {
    display: grid;
    grid-gap: 6px;
}
