// @font-face {
//     font-family: "Arial-BoldMT";
//     font-style: normal;
//     src: local("Arial-BoldMT"),
//     url(./49025597.ttf) format("ttf");
// }

// @font-face {
//     font-family: "ArialMT";
//     font-style: normal;
//     src: local("ArialMT"),
//     url(./83998502.ttf) format("ttf");
// }

.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;

    background: #fff;

    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    min-height: 2.85714286em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #182c4f;
}

.ui.menu.ranking-dropDown .item {
    color: #182c4f;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
    text-shadow: 0 0 0 #ffffff, 0 0 0 #182c4f;
    //opacity: 0.7;
}

.ui.menu.ranking-dropDown .item:before {
    background: none;
}

.ui.menu.ranking-dropDown .active.item {
    background: none;
    color: #182c4f;

    text-decoration: underline;
}

.ui.menu.ranking-dropDown .active.item:hover,
.ui.vertical.menu .active.item:hover {
    background-color: #fff !important;
    color: #182c4f !important;
    text-decoration: underline;
}

.ui.menu.ranking-dropDown .item:hover {
    background-color: #fff !important;
    color: #182c4f !important;
    text-decoration: underline;
}

.ui.menu .ui.dropdown .menu > .active.item {
    background-color: #fff !important;
    font-weight: normal !important;
    color: #182c4f !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
    background: none !important;
    color: #182c4f !important;
}
