.container{
    width: 1060px;
    margin: 0 auto;
}
.banner{
    color:white;
    background: rgba(223,227,235, 0.7);
    padding: 3px;
    position: relative;
    cursor: pointer;
    transition: transform 200ms;
    transform: 200ms;
    -webkit-transform: 200ms; /** Chrome & Safari **/
    -o-transform: 200ms; /** Opera **/
    -moz-transform: 200ms; /** Firefox **/
}
.transition {
    transition: 0.5s;
  }
.banner:hover, a:focus {
    top: -3px;
    background: rgba(255,255,255, 1);
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.2 );
}
.banner__content{
    // padding:20px;
    // border-radius: 4px;
    height: 240px;
}
.banner__title{
    padding: 20px 0px 0px 20px
}
.banner__subtitle{
    padding: 0px 0px 0px 20px
}
.banner__rectangle{
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,.55);
    position: relative;
    top: 123px;
}

.banner___flag{
    width: 30px;
    padding-left: 9px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -15px;
    left: 10px;
}

.banner__title{
    font-size:30px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}


.banner__avgprice {
    float: right;
    text-align: right;
    font-size: 15px;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    position: relative;
    top: -35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    font-family: ArialMT,sans-serif;
    font-weight: 600;
    opacity: 1;

}

.shortParagraphImg{
    padding: 7px;
}